.scroll-pane > .viewport {
    -fx-background-color: rgba(69, 69, 69, 0.8);
}

.scroll-pane {
    -fx-border-color: #696969;
}

.table-row-cell:odd {
    -fx-background-color: alternate_row_color;
}

.table-row-blacklisted .text {
    -fx-fill: #c40925;
}